menu "Spoil-Free Fridge Wi-Fi"

config ESP_WIFI_SSID
    string "Wi-Fi SSID"
    default ""

config ESP_WIFI_PASSWORD
    string "Wi-Fi password"
    default ""

config ESP_MAXIMUM_RETRY
    int "Maximum connection retries"
    range 1 20
    default 5

endmenu